h1 {
    color: rgb(273, 72, 50);
    background-color: rgb(248, 217, 209);
}

h2 {
    color: rgb(203, 72, 50);
    background-color: rgb(238, 217, 209);
}

h3 {
    color: rgb(273, 72, 50);
    background-color: rgb(248, 217, 209);
}